[user]
	email = mvmjacos@gmail.com
	name = Marcos Vincius Jacobs
[alias]
	st = status
	unstage = reset HEAD --
	bs = checkout -b
	goto = checkout
	discard = checkout
	save = stash save
	view = log --pretty=format:'%C(auto,yellow)%h %C(reset)%ad %C(auto,green)<%aE>%x09%C(reset)%s' --date=format:'%d/%m/%Y %H:%M'
	abort-merge = reset --hard HEAD
	fp = !git fetch --prune --tags && git pull
